<!DOCTYPE html>
<html>

<head>
    <title>Solved Sudoku</title>
    <!-- Styles -->
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
      <section class="center pad-mar">
        <h1 class="text-center">Solution</h1>
    </section>
    <section class="container center">
        <table class="text-center ml-auto mr-auto">
            <tr>
                <td class="cell">{{c00}}</td>
                <td class="cell">{{c01}}</td>
                <td class="cell">{{c02}}</td>
                <td class="cell">{{c03}}</td>
                <td class="cell">{{c04}}</td>
                <td class="cell">{{c05}}</td>
                <td class="cell">{{c06}}</td>
                <td class="cell">{{c07}}</td>
                <td class="cell">{{c08}}</td>
            </tr>
            <tr>
                <td class="cell">{{c10}}</td>
                <td class="cell">{{c11}}</td>
                <td class="cell">{{c12}}</td>
                <td class="cell">{{c13}}</td>
                <td class="cell">{{c14}}</td>
                <td class="cell">{{c15}}</td>
                <td class="cell">{{c16}}</td>
                <td class="cell">{{c17}}</td>
                <td class="cell">{{c18}}</td>
            </tr>
            <tr>
                <td class="cell">{{c20}}</td>
                <td class="cell">{{c21}}</td>
                <td class="cell">{{c22}}</td>
                <td class="cell">{{c23}}</td>
                <td class="cell">{{c24}}</td>
                <td class="cell">{{c25}}</td>
                <td class="cell">{{c26}}</td>
                <td class="cell">{{c27}}</td>
                <td class="cell">{{c28}}</td>
            </tr>
            <tr>
                <td class="cell">{{c30}}</td>
                <td class="cell">{{c31}}</td>
                <td class="cell">{{c32}}</td>
                <td class="cell">{{c33}}</td>
                <td class="cell">{{c34}}</td>
                <td class="cell">{{c35}}</td>
                <td class="cell">{{c36}}</td>
                <td class="cell">{{c37}}</td>
                <td class="cell">{{c38}}</td>
            </tr>
            <tr>
                <td class="cell">{{c40}}</td>
                <td class="cell">{{c41}}</td>
                <td class="cell">{{c42}}</td>
                <td class="cell">{{c43}}</td>
                <td class="cell">{{c44}}</td>
                <td class="cell">{{c45}}</td>
                <td class="cell">{{c46}}</td>
                <td class="cell">{{c47}}</td>
                <td class="cell">{{c48}}</td>
            </tr>
            <tr>
                <td class="cell">{{c50}}</td>
                <td class="cell">{{c51}}</td>
                <td class="cell">{{c52}}</td>
                <td class="cell">{{c53}}</td>
                <td class="cell">{{c54}}</td>
                <td class="cell">{{c55}}</td>
                <td class="cell">{{c56}}</td>
                <td class="cell">{{c57}}</td>
                <td class="cell">{{c58}}</td>
            </tr>
            <tr>
                <td class="cell">{{c60}}</td>
                <td class="cell">{{c61}}</td>
                <td class="cell">{{c62}}</td>
                <td class="cell">{{c63}}</td>
                <td class="cell">{{c64}}</td>
                <td class="cell">{{c65}}</td>
                <td class="cell">{{c66}}</td>
                <td class="cell">{{c67}}</td>
                <td class="cell">{{c68}}</td>
            </tr>
            <tr>
                <td class="cell">{{c70}}</td>
                <td class="cell">{{c71}}</td>
                <td class="cell">{{c72}}</td>
                <td class="cell">{{c73}}</td>
                <td class="cell">{{c74}}</td>
                <td class="cell">{{c75}}</td>
                <td class="cell">{{c76}}</td>
                <td class="cell">{{c77}}</td>
                <td class="cell">{{c78}}</td>
            </tr>
            <tr>
                <td class="cell">{{c80}}</td>
                <td class="cell">{{c81}}</td>
                <td class="cell">{{c82}}</td>
                <td class="cell">{{c83}}</td>
                <td class="cell">{{c84}}</td>
                <td class="cell">{{c85}}</td>
                <td class="cell">{{c86}}</td>
                <td class="cell">{{c87}}</td>
                <td class="cell">{{c88}}</td>
            </tr>
        </table>
    </section>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/slider.js"></script>
</body>

</html>