@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Regular.ttf');
}


.body{
    font-family: 'Titillium Web', sans-serif!important;
}

.h1{
    font-family: 'Titillium Web', sans-serif!important;
    font-size: x-large;
}

.pad-mar{
	padding: 2em;
	margin:2em;
}

.cell{
	padding: 5px;
	height: 50px;
	width: 50px;
}



table {
  margin:1em auto;
}
td {
  height:30px;
  width:30px;
  border:1px solid black;
  text-align:center;
  color: white;
  font-style: bolder;
}
td:first-child {
  border-left:solid black;
}
td:nth-child(3n) {
  border-right:solid black ;
}
tr:first-child {
  border-top:solid black;
}
tr:nth-child(3n) td {
  border-bottom:solid black ;
}

.c1{
	background-color: hsl(0,100%,50%);
}

.c2{
	background-color: hsl(40,100%,50%);
}
.c3{
	background-color: hsl(80,100%,50%);
}

.c4{
	background-color: hsl(120,100%,50%);
}

.c5{
	background-color: hsl(160,100%,50%);
}

.c6{
	background-color: hsl(200,100%,50%);
}

.c7{
	background-color: hsl(240,100%,50%);
}

.c8{
	background-color: hsl(280,100%,50%);
}

.c9{
	background-color: hsl(320,100%,50%);
}